.post-title {
    font-weight: bold;
    border: none;
    color: var(--font-color);
    background-color: var(--bg-sidenav-color);
}

.modal-content {
    background-color: var(--bg-sidenav-color);
}

.modal {
    animation: 200ms mymove forwards;
}

.modal-dialog, .modal-content {
    /* 80% of window height */
    height: 90%;
    width: 100%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    max-width: calc(100% - 120px);
    overflow-y: scroll;
}

@keyframes mymove {
    0% {
        background-color: rgba(255, 255, 255, 0.1);
    }
    25% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.3);
    }
    75% {
        background-color: rgba(255, 255, 255, 0.4);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.5);
    }
}