a {
    color: var(--font-color);
    font-weight: bold;
}

img.profile-picture {
    height: 35px;
    border-radius: 50%;
}

.dropdown-menu {
    top: 0;
    margin-top: 2rem;
    background-color: var(--bg-nav-color);
    display: block;
    transform: scale(0);
    transform-origin: top;
}

.dropdown-menu.show {
    transform: scale(1) translateX(-50%);
}

.dropdown-menu>a {
    color: var(--font-color);
}

.dropdown-menu>a:hover {
    background-color: unset !important;
    color: var(--font-color) !important;
    font-weight: bolder;
}

.dropdown-container {
    position: relative;
}