.card-default {
    border-radius: 4%;
    height: 190px;
    width: 320px;
    overflow: hidden;
    background-color: var(--bg-color);
    border: 1px solid var(--font-color);
}

.card-text {
    height: 80px;
    overflow: hidden;
    margin-bottom: 0px;
}