.side-bar {
    top: 0;
    bottom: 0;
    left: 0;
    color: var(--font-color);
    background-color: var(--bg-sidenav-color);
    width: var(--sidebar-width);
    margin-top: var(--navbar-height);
}

@media screen and (max-width: 771px) {
    .side-bar {
        display: none !important;
    }
}

.category-title {
    font-weight: 600;
}

.item-link {
    font-weight: 600;
    font-size: 90%;
    color: rgba(255, 255, 255, 0.5);
}

.item-link:hover {
    text-decoration: none;
    color: var(--font-color);
}

.active .item-link {
    color: var(--font-color-active) !important;
}