main.container-main {
    height: calc(100vh - var(--navbar-height));
    min-height: 300px;
    margin-top: var(--navbar-height);
}

.createPostClipboardPlus {
    margin-right: 0.5rem;
}

@media (min-width: 772px) {
    main {
        padding-left: var(--sidebar-width);
    }
}

@media (max-width: 506px) {
    .newPost {
        display: none;
    }

    .createPostClipboardPlus {
        margin-right: 0px !important;
    }
}