body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: calc(100vh-56px);
  background-color: var(--bg-color) !important;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 15%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.dark-theme {
  --bg-color: #101820;
  --bg-nav-color: #1d252d;
  --bg-sidenav-color: #1d252d;
  --font-color: #cddee9;
  --box-shadow-focus: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.light-theme {
  --bg-color: #22227e;
  --bg-nav-color: #fff;
  --font-color: #000;
}

#root {
  color: var(--font-color);
}

input {
  border-radius: 5px;
}

input:-internal-autofill-selected {
  background-color: var(--bg-nav-color) !important;
}

input:focus-visible {
  box-shadow: var(--box-shadow-focus);
  outline: none;
}

::placeholder {
  color: #9197a3;
  font-weight: normal;
}